:root{
    --primary-color: rgba(11, 12, 16, 0.45);
    --overlay-color: rgba(40, 189, 182, 0.75);
    --menu-speed:0.75s;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: roboto;
    line-height: 1.4;
}

.container{
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.showcase{
    background-color: var(--primary-color);
    color: #fff;
    height: 100%;
    position: relative;
}

.showcase:before{
    content:'';
    background: url(cover.jpg) center center/cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.showcase .showcase-inner{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.welcome-text{
    margin-top: 180px;
}
.showcase h1{
    
    font-size: 60px;
}

.showcase #surname{
    font-size: 60px;
    color: #66fcf1;
}

.showcase .showcase-inner .fabicon{
    font-size: 30px;
    display: inline-block;
    justify-content: center;
    padding: 10px;
}


/* .showcase .showcase-about .about-me{
    display: flex;
    justify-content: center;
} */

.showcase-about .page-title{
    margin-top: 1rem; 
}

.showcase-about .page-title h1{
    font-size: 8rem;
    font-weight: 300;
}
.showcase-about .page-title #add-text{
    font-size: 8rem;
    font-weight: 300;
    color:#66fcf1;
}

.showcase-about .education-text #add-text3{
    margin-top: 3rem;
    font-weight: 300;
    color:#66fcf1;
}

.showcase-about .page-title p{
    font-size: 2rem;
}

.showcase-about .about-me p{
    margin-top: 4rem;
    font-size: 2rem;
}

.showcase-about .image-avatar > img{
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
    border: 10px solid #66fcf1;
    border-radius: 50%;
}

/* sm */
@media (min-width: 768px) {
    img {
        width: 150px;
    }
}
/* md */
@media (min-width: 992px) {
    img {
        width: 200px;
    }
}
/* lg */
@media (min-width: 1200px) {
    img {
        width: 250px;
    }
}
.education-text{
    
}

.TextImg{
    position: relative;
    width: 300px;
    height: 200px;
    /* float: left; */
    /* margin: 4px; */
    background-size: 100%;
    background-position: center;
    transition: 0.5s;
    display: block;
    margin-top: 3rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
}
.TextImg:hover{
    background-size: 110%;
}
.TextImg:after{
    content: attr(data-text);
    position: absolute;
    top: 85%;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    background-color: rgba(40, 189, 182, 0.75);
    color: black;
    padding:0 8px;
    /* opacity: 0; */
    transition: 0.5s ease;
    
}
.TextImg:hover:after{
    /* opacity: 1; */
    top: 0;
    padding: 8px;
}
.TextImg::first-line{
    color: black;
    font-weight: bold;
    font-size: 1.5em;
}

.TextImg.img1{
    background-image: url("neu.jpg");
    background-repeat: no-repeat;
    color: black;
}
.TextImg.img2{
    background-image: url("ebc.jpg");
    background-repeat: no-repeat;
    color: black;
}
.TextImg.img3{
    background-image: url("ciicc.jpg");
    background-repeat: no-repeat;
    color: black;
}

.image{
    display: block;
    width: 300px;
    height: 200px;
}
.overlay{
    position: absolute;
    transition: all 0.4s ease;
    opacity: 0;
    
}

#skills-icon{
    background-color:#66fcf1;
    width: 80px;
    height: 80px;
    border-radius: 50%;  
    position: relative;   
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
        
}
#skills-icon > i {
    position: absolute;
    top: 15%;
    left: 12%;
    font-size: 50px;
}
.skill-list{
    position: relative;   
    text-align: center;
    padding-top: 20px;
    padding-bottom: 35px;
}
.skill-list > ul{
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
}
.skill-list > ul > li:hover{
    color: #66fcf1;
}


footer{
    text-align: center; 
    margin-top: 17%;
}
footer a{
    text-decoration: none;
    color: #66fcf1;
}

